.title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 97.2%;
    text-align: center;
    color: #00559D;
}


/* .form__label-payment {
    padding-left: 10px;
} */

.form__label-payment::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 1px;
    cursor: pointer;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(../img/checkbox.png);
}

.form__payment-input:checked + .form__label-payment::before {
    content: "";
    cursor: pointer;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(../img/checked.png);
}

.form__report {
    margin-top: 20px;
}

.form__inner-report {
    position: relative;
    margin-top: 15px;
}

.form__report-wrapper {
    display: flex;
    column-gap: 63px;
}


.form__label-radio::before {
    content: "";
    position: absolute;
    left: -5px;
    top: -3px;
    cursor: pointer;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(../img/radio.png);
}

.form__radio:checked + .form__label-radio::before {
    content: "";
    cursor: pointer;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(../img/radiocheck.png);
}